.pokedexGrid {
  margin: 1rem auto;
  max-width: 800px;
}

.randomizerContainer,
.searchContainer {
  display: inline-block;
}

.clickOptionButton {
  border: 2px solid black;
  margin-left: 1rem;
  padding: 0.25rem 1rem;
}

.searchContainer {
  padding-left: 3rem;
}

.inputLabel {
  color: darkgreen;
  font-size: 0.8rem;
}

.seedInput,
.searchInput {
  color: purple;
  font-family: monospace;
  width: 200px;
}

.searchInput {
  color: darkgreen;
  width: 100px;
}

.randomizerButton {
  background-color: purple;
  border: 2px solid purple;
  border-radius: 2px;
  margin-left: 0.5rem;
}

.resetButton {
  background-color: white;
  border: 2px solid purple;
  border-radius: 2px;
  color: purple;
  margin-left: 0.5rem;
}

.hintText {
  color: grey;
  display: block;
  font-size: 0.65rem;
}

.bgPokemon {
  max-height: 40px;
  overflow: hidden;
  position: relative;
}

.bgPokemon.matchesSecretValue {
  background-color: red;
}

.bgPokemon.emptyCell {
  height: 40px;
  width: 40px;
}

.bgPokemonImg {
  opacity: 0.4;
}

.hiddenValue {
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  margin: 0;
  min-width: 40px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
}
