.pokedexGrid {
  margin: 1rem auto;
  max-width: 800px;
}

.randomizerContainer,
.searchContainer {
  display: inline-block;
}

.clickOptionButton {
  border: 2px solid black;
  padding: 0.25rem 1rem;
}

.clickOptionButton + .clickOptionButton {
  margin-left: 1rem;
}

.searchContainer {
  padding-left: 3rem;
}

.inputLabel {
  color: darkgreen;
  font-size: 0.8rem;
}

.seedInput,
.searchInput {
  color: purple;
  font-family: monospace;
  width: 200px;
}

.searchInput {
  color: darkgreen;
}

.randomizerButton {
  background-color: purple;
  border: 2px solid purple;
  border-radius: 2px;
  margin-left: 0.5rem;
}

.resetButton {
  background-color: white;
  border: 2px solid purple;
  border-radius: 2px;
  color: purple;
  margin-left: 0.5rem;
}

.hintText {
  color: grey;
  display: block;
  font-size: 0.65rem;
}
