.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sidebarSection {
  border: 1px solid gray;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sidebar table {
  text-align: left;
  width: 100%;
}

.sidebar table > div {
  display: flex;
  border-bottom: 1px solid lightGray;
}

.sidebar table > div :nth-child(1) {
  flex-grow: 1;
  font-weight: bold;
}

.sidebar p {
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.primaryButton {
  background-color: lightGray;
  border: 1px solid darkGray;
  border-radius: 10px;
  flex-grow: 1;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.primaryButton:active {
  background-color: #EEEEEE;
}

.modalForm td {
  width: 50%;
}

.modalForm input, .modalForm select {
  font-size: 20px;
  border-radius: 5px;
  width: 100%;
}

.modalForm input::placeholder {
  font-size: 16px;
  color: darkGray;
}

.gridRow {
  max-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  user-select: none;
}
