.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokedexGrid {
  margin: 1rem auto;
  width: 400px;
}

.countContainer {
  margin: 0 2rem;
}

.gridRow {
  max-height: 60px;
  display: flex;
  flex-direction: row;
}

.minesweeperCell {
  background-color: lightGray;
}

.revealedCell {
  background-color: white;
  opacity: 30%;
}

.flaggedCell {
  background-color: darkRed;
}

.explodedCell {
  background-color: red;
}

.minesweeperCellContainer {
  max-width: 60px;
  max-height: 60px;
  position: relative;
}

.minesweeperCellNumber {
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  margin: 0;
  min-width: 60px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  user-select: none;
}
