.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trackerGrid > .pokedexContainer {
  max-width: unset;
  width: 66%;
}

.trackerGrid > .trackerContainer {
  max-width: unset;
  width: 34%;
}
